<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <h2>CROP NAME: <%= foundCrop.name %></h2>
    <h2>CROP PH: <%= foundCrop.ph %></h2>
    <h2>CROP EC: <%= foundCrop.ec %></h2>
    <h2>CROP TEMPERATURE: <%= foundCrop.temperature %></h2>
    <p>
        <a href="/addCrop/<%= foundCrop._id %>/edit">Edit Crops</a>
    </p>
<footer>
      
        <a href="/">All Crops</a>
    </footer>
</body>
</html>